@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.MessageValidation{
    position: absolute; 
    bottom: 0;
    right: 0;
    animation-duration: 3s;
    animation-name: disparition;
    animation-fill-mode: forwards;
}

@keyframes disparition {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

.invisible{
  display: none;
}

.mx40{
  max-width: 40%;
}